html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(135deg, #f37454 0%, #e7ac53 100%);
}

.quote-body-container {
    margin: auto;
    margin-top: 15px;
    width: 350px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-author {
    margin-top: -10px;
    font-size: 25px;
}

#generate-quote {
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    margin: 35px auto 0px auto;
    width: 120px;
    height: 40px;
    border-width: 1px;
    border-color: transparent;
    color: #ffffff;
    background-color: #f37454;
    transition: 0.3s;
}

#generate-quote:hover {
    box-shadow: 0px 0px 10px 0px #f57b43;
    cursor: pointer;
    background-color: #e28357;
}

#generate-quote:active {
    position: relative;
    top: 1px;
}

#generate-quote:focus {
    outline: none;
}

.quote-container {
    text-align: center;
    margin: 25vh auto auto auto;
    width: 400px;
    height: 400px;
    background-color: #f0ffff;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.4);
}