html * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    background: rgb(238, 174, 202);
    background: linear-gradient(135deg, #eeaeca 0%, #94bbe9 100%);
    text-align: center;
}

#HIDDEN {
    display: none;
}

.sprite-container {
    display: inline;
    margin: auto;
    vertical-align: middle;
}

#sprite {
    min-width: 300px;
    max-width: 300px;
    height: auto;
    -ms-interpolation-mode: nearest-neighbor;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;
}

#pokemon-container {
    margin: auto;
    margin-top: 5vh;
    width: 300px;
    height: 300px;
}

.pokemon {
    display: table;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
}

#name {
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    height: 35px;
    color: aliceblue;
    background: rgb(238, 174, 202);
    background: linear-gradient(135deg, #5e6c7c 0%, #423b3e 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.search {
    margin-top: 10vh;
}

#search-box {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);
    height: 25px;
    text-align: center;
    width: 80px;
    color: #191e24;
    background-color: #ffffff4d;
    border-radius: 20px;
    border-width: 1px;
    border-color: transparent;
}

#search-box:focus {
    outline: none;
}

#search-box::selection {
    background-color: #b7faff6b;
}

#search-btn {
    padding: 5px;
    font-size: 15px;
    color: #222931;
    background-color: #ffffff4d;
    border-radius: 50px;
    border: none;
}

#search-btn:hover {
    cursor: pointer;
}

#search-btn:active {
    position: relative;
    top: 1px;
}

#search-btn:focus {
    outline: none;
}