html * {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: rgb(33, 31, 43);
}

div {
    text-align: center;
}

#site-title {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #ffffff;
}

#autoroll-times {
    margin-top: 2.5%;
    font-size: 15px;
    color: white;
    background: transparent;
    outline: none;
    border: 0 none;
    text-align: center;
}

#autoroll-times:focus {
    outline: none;
    border: none;
}

#autoroll-value {
    overflow: auto;
    margin-top: 20px;
    resize: none;
    font-size: 15px;
    color: white;
    background: transparent;
    outline: none;
    border: 0 none;
    text-align: center;
}

#autoroll-value:focus {
    outline: none;
    border: none;
}

#roll-btn,
#autoroll-btn {
    margin-top: 1%;
    background-color: #2d2d42;
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
}

#roll-btn:hover,
#autoroll-btn:hover {
    background-color: #272738;
}

#roll-btn:active,
#autoroll-btn:active {
    position: relative;
    top: 1px;
}

#roll-btn:focus,
#autoroll-btn:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
}